:root {
    --bg-color: rgba(255,255,255, 1);
    --text-color: rgba(76,37,35, 1);
    --text-soft-color: rgba(97,66,65, 1);
    --text-strong-color: rgba(74,74,74, 1);
    --subtle-color: rgba(254,248,248, 1);
    --border-color: rgba(250,225,224, 1);
    --shadow-color: rgba(226,180,179, 1);
    --input-color: rgba(255,255,255, 1);
    --outline-color: rgba(233,178,176, 1);
    --mark-color: rgba(233,68,56, 0.08);
    --special-color: rgba(233,68,56, 1);
    --special-bg-color: rgba(239,70,58, 1);
    --special-text-color: rgba(255,255,255, 1);
    --special-shadow-color: rgba(117,81,79, 1);
    --special-mark-color: rgba(255,255,255, 0.08);
    --light-color: rgba(253,241,241, 1);
    --dark-color: rgba(93,63,62, 1);
    --text-color-rgb: 76,37,35;
    --bg-color-rgb: 255,255,255;
    --subtle-color-rgb: 254,248,248;
    --special-color-rgb: 233,68,56;
    --special-text-color-rgb: 255,255,255;
    --special-bg-color-rgb: 239,70,58;
    --shadow-color-rgb: 226,180,179;
    --special-shadow-color-rgb: 117,81,79;
    --outline-color-rgb: 233,178,176;
    --dark-color-rgb: 93,63,62;
    --light-color-rgb: 253,241,241;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: rgba(32,32,32, 1);
        --text-color: rgba(228,221,221, 1);
        --text-soft-color: rgba(194,186,185, 1);
        --text-strong-color: rgba(187,187,187, 1);
        --subtle-color: rgba(42,35,34, 1);
        --border-color: rgba(61,44,44, 1);
        --shadow-color: rgba(0,0,0, 1);
        --input-color: rgba(28,28,28, 1);
        --outline-color: rgba(220,136,133, 1);
        --mark-color: rgba(221,102,97, 0.08);
        --special-color: rgba(221,102,97, 1);
        --special-bg-color: rgba(167,66,60, 1);
        --special-text-color: rgba(228,221,221, 1);
        --special-shadow-color: rgba(42,26,26, 1);
        --special-mark-color: rgba(228,221,221, 0.08);
        --light-color: rgba(239,203,202, 1);
        --dark-color: rgba(69,47,47, 1);
        --text-color-rgb: 228,221,221;
        --bg-color-rgb: 32,32,32;
        --subtle-color-rgb: 42,35,34;
        --special-color-rgb: 221,102,97;
        --special-text-color-rgb: 228,221,221;
        --special-bg-color-rgb: 167,66,60;
        --shadow-color-rgb: 0,0,0;
        --special-shadow-color-rgb: 42,26,26;
        --outline-color-rgb: 220,136,133;
        --dark-color-rgb: 69,47,47;
        --light-color-rgb: 239,203,202;
    }
}

@media (prefers-color-scheme: light) and (prefers-contrast: more) {
    :root {
        --bg-color: rgba(255,255,255, 1);
        --text-color: rgba(53,24,23, 1);
        --text-soft-color: rgba(44,28,28, 1);
        --text-strong-color: rgba(74,74,74, 1);
        --subtle-color: rgba(254,248,248, 1);
        --border-color: rgba(209,173,172, 1);
        --shadow-color: rgba(187,146,145, 1);
        --input-color: rgba(255,255,255, 1);
        --outline-color: rgba(229,157,154, 1);
        --mark-color: rgba(180,51,41, 0.16);
        --special-color: rgba(180,51,41, 1);
        --special-bg-color: rgba(186,53,43, 1);
        --special-text-color: rgba(255,255,255, 1);
        --special-shadow-color: rgba(47,30,29, 1);
        --special-mark-color: rgba(255,255,255, 0.16);
        --light-color: rgba(253,241,241, 1);
        --dark-color: rgba(93,63,62, 1);
        --text-color-rgb: 53,24,23;
        --bg-color-rgb: 255,255,255;
        --subtle-color-rgb: 254,248,248;
        --special-color-rgb: 180,51,41;
        --special-text-color-rgb: 255,255,255;
        --special-bg-color-rgb: 186,53,43;
        --shadow-color-rgb: 187,146,145;
        --special-shadow-color-rgb: 47,30,29;
        --outline-color-rgb: 229,157,154;
        --dark-color-rgb: 93,63,62;
        --light-color-rgb: 253,241,241;
    }
}

@media (prefers-color-scheme: dark) and (prefers-contrast: more) {
    :root {
        --bg-color: rgba(32,32,32, 1);
        --text-color: rgba(242,238,238, 1);
        --text-soft-color: rgba(240,239,239, 1);
        --text-strong-color: rgba(187,187,187, 1);
        --subtle-color: rgba(42,35,34, 1);
        --border-color: rgba(91,78,77, 1);
        --shadow-color: rgba(0,0,0, 1);
        --input-color: rgba(28,28,28, 1);
        --outline-color: rgba(219,131,128, 1);
        --mark-color: rgba(228,156,154, 0.16);
        --special-color: rgba(228,156,154, 1);
        --special-bg-color: rgba(136,52,48, 1);
        --special-text-color: rgba(242,238,238, 1);
        --special-shadow-color: rgba(0,0,0, 1);
        --special-mark-color: rgba(242,238,238, 0.16);
        --light-color: rgba(245,223,222, 1);
        --dark-color: rgba(69,47,47, 1);
        --text-color-rgb: 242,238,238;
        --bg-color-rgb: 32,32,32;
        --subtle-color-rgb: 42,35,34;
        --special-color-rgb: 228,156,154;
        --special-text-color-rgb: 242,238,238;
        --special-bg-color-rgb: 136,52,48;
        --shadow-color-rgb: 0,0,0;
        --special-shadow-color-rgb: 0,0,0;
        --outline-color-rgb: 219,131,128;
        --dark-color-rgb: 69,47,47;
        --light-color-rgb: 245,223,222;
    }
}