:root {
    --bg-color: rgba(255,255,255, 1);
    --text-color: rgba(37,46,82, 1);
    --text-soft-color: rgba(56,61,83, 1);
    --text-strong-color: rgba(62,62,62, 1);
    --subtle-color: rgba(248,249,254, 1);
    --border-color: rgba(226,230,252, 1);
    --shadow-color: rgba(181,189,232, 1);
    --input-color: rgba(255,255,255, 1);
    --outline-color: rgba(247,176,176, 1);
    --mark-color: rgba(255,43,46, 0.08);
    --special-color: rgba(255,43,46, 1);
    --special-bg-color: rgba(255,58,60, 1);
    --special-text-color: rgba(255,255,255, 1);
    --special-shadow-color: rgba(128,81,81, 1);
    --special-mark-color: rgba(255,255,255, 0.08);
    --light-color: rgba(255,240,240, 1);
    --dark-color: rgba(103,58,59, 1);
    --text-color-rgb: 37,46,82;
    --bg-color-rgb: 255,255,255;
    --subtle-color-rgb: 248,249,254;
    --special-color-rgb: 255,43,46;
    --special-text-color-rgb: 255,255,255;
    --special-bg-color-rgb: 255,58,60;
    --shadow-color-rgb: 181,189,232;
    --special-shadow-color-rgb: 128,81,81;
    --outline-color-rgb: 247,176,176;
    --dark-color-rgb: 103,58,59;
    --light-color-rgb: 255,240,240;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: rgba(32,32,32, 1);
        --text-color: rgba(221,223,230, 1);
        --text-soft-color: rgba(209,210,215, 1);
        --text-strong-color: rgba(210,210,210, 1);
        --subtle-color: rgba(35,36,44, 1);
        --border-color: rgba(44,47,66, 1);
        --shadow-color: rgba(0,0,0, 1);
        --input-color: rgba(28,28,28, 1);
        --outline-color: rgba(228,131,131, 1);
        --mark-color: rgba(243,82,83, 0.08);
        --special-color: rgba(243,82,83, 1);
        --special-bg-color: rgba(190,36,37, 1);
        --special-text-color: rgba(230,221,221, 1);
        --special-shadow-color: rgba(44,25,25, 1);
        --special-mark-color: rgba(230,221,221, 0.08);
        --light-color: rgba(249,200,200, 1);
        --dark-color: rgba(74,45,45, 1);
        --text-color-rgb: 221,223,230;
        --bg-color-rgb: 32,32,32;
        --subtle-color-rgb: 35,36,44;
        --special-color-rgb: 243,82,83;
        --special-text-color-rgb: 230,221,221;
        --special-bg-color-rgb: 190,36,37;
        --shadow-color-rgb: 0,0,0;
        --special-shadow-color-rgb: 44,25,25;
        --outline-color-rgb: 228,131,131;
        --dark-color-rgb: 74,45,45;
        --light-color-rgb: 249,200,200;
    }
}

@media (prefers-color-scheme: light) and (prefers-contrast: more) {
    :root {
        --bg-color: rgba(255,255,255, 1);
        --text-color: rgba(24,31,57, 1);
        --text-soft-color: rgba(29,31,45, 1);
        --text-strong-color: rgba(62,62,62, 1);
        --subtle-color: rgba(248,249,254, 1);
        --border-color: rgba(174,180,214, 1);
        --shadow-color: rgba(147,154,193, 1);
        --input-color: rgba(255,255,255, 1);
        --outline-color: rgba(245,151,152, 1);
        --mark-color: rgba(207,0,5, 0.16);
        --special-color: rgba(207,0,5, 1);
        --special-bg-color: rgba(213,0,5, 1);
        --special-text-color: rgba(255,255,255, 1);
        --special-shadow-color: rgba(55,32,32, 1);
        --special-mark-color: rgba(255,255,255, 0.16);
        --light-color: rgba(255,240,240, 1);
        --dark-color: rgba(98,61,61, 1);
        --text-color-rgb: 24,31,57;
        --bg-color-rgb: 255,255,255;
        --subtle-color-rgb: 248,249,254;
        --special-color-rgb: 207,0,5;
        --special-text-color-rgb: 255,255,255;
        --special-bg-color-rgb: 213,0,5;
        --shadow-color-rgb: 147,154,193;
        --special-shadow-color-rgb: 55,32,32;
        --outline-color-rgb: 245,151,152;
        --dark-color-rgb: 98,61,61;
        --light-color-rgb: 255,240,240;
    }
}

@media (prefers-color-scheme: dark) and (prefers-contrast: more) {
    :root {
        --bg-color: rgba(32,32,32, 1);
        --text-color: rgba(238,239,243, 1);
        --text-soft-color: rgba(239,239,241, 1);
        --text-strong-color: rgba(210,210,210, 1);
        --subtle-color: rgba(35,36,44, 1);
        --border-color: rgba(78,80,94, 1);
        --shadow-color: rgba(0,0,0, 1);
        --input-color: rgba(28,28,28, 1);
        --outline-color: rgba(228,126,126, 1);
        --mark-color: rgba(245,148,148, 0.16);
        --special-color: rgba(245,148,148, 1);
        --special-bg-color: rgba(156,27,28, 1);
        --special-text-color: rgba(243,238,238, 1);
        --special-shadow-color: rgba(0,0,0, 1);
        --special-mark-color: rgba(243,238,238, 0.16);
        --light-color: rgba(251,221,221, 1);
        --dark-color: rgba(74,45,45, 1);
        --text-color-rgb: 238,239,243;
        --bg-color-rgb: 32,32,32;
        --subtle-color-rgb: 35,36,44;
        --special-color-rgb: 245,148,148;
        --special-text-color-rgb: 243,238,238;
        --special-bg-color-rgb: 156,27,28;
        --shadow-color-rgb: 0,0,0;
        --special-shadow-color-rgb: 0,0,0;
        --outline-color-rgb: 228,126,126;
        --dark-color-rgb: 74,45,45;
        --light-color-rgb: 251,221,221;
    }
}