:root {
    --bg-color: rgba(255,255,255, 1);
    --text-color: rgba(82,33,33, 1);
    --text-soft-color: rgba(102,64,64, 1);
    --text-strong-color: rgba(74,74,74, 1);
    --subtle-color: rgba(254,248,248, 1);
    --border-color: rgba(253,224,224, 1);
    --shadow-color: rgba(231,178,178, 1);
    --input-color: rgba(255,255,255, 1);
    --outline-color: rgba(241,167,167, 1);
    --mark-color: rgba(158,104,104, 0.08);
    --special-color: rgba(158,104,104, 1);
    --special-bg-color: rgba(162,107,107, 1);
    --special-text-color: rgba(255,255,255, 1);
    --special-shadow-color: rgba(109,71,71, 1);
    --special-mark-color: rgba(255,255,255, 0.08);
    --light-color: rgba(254,240,240, 1);
    --dark-color: rgba(96,62,62, 1);
    --text-color-rgb: 82,33,33;
    --bg-color-rgb: 255,255,255;
    --subtle-color-rgb: 254,248,248;
    --special-color-rgb: 158,104,104;
    --special-text-color-rgb: 255,255,255;
    --special-bg-color-rgb: 162,107,107;
    --shadow-color-rgb: 231,178,178;
    --special-shadow-color-rgb: 109,71,71;
    --outline-color-rgb: 241,167,167;
    --dark-color-rgb: 96,62,62;
    --light-color-rgb: 254,240,240;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: rgba(32,32,32, 1);
        --text-color: rgba(229,221,221, 1);
        --text-soft-color: rgba(195,185,185, 1);
        --text-strong-color: rgba(187,187,187, 1);
        --subtle-color: rgba(43,34,34, 1);
        --border-color: rgba(64,43,43, 1);
        --shadow-color: rgba(0,0,0, 1);
        --input-color: rgba(28,28,28, 1);
        --outline-color: rgba(219,136,136, 1);
        --mark-color: rgba(177,126,126, 0.08);
        --special-color: rgba(177,126,126, 1);
        --special-bg-color: rgba(127,89,89, 1);
        --special-text-color: rgba(229,221,221, 1);
        --special-shadow-color: rgba(44,26,26, 1);
        --special-mark-color: rgba(229,221,221, 0.08);
        --light-color: rgba(245,201,201, 1);
        --dark-color: rgba(72,46,46, 1);
        --text-color-rgb: 229,221,221;
        --bg-color-rgb: 32,32,32;
        --subtle-color-rgb: 43,34,34;
        --special-color-rgb: 177,126,126;
        --special-text-color-rgb: 229,221,221;
        --special-bg-color-rgb: 127,89,89;
        --shadow-color-rgb: 0,0,0;
        --special-shadow-color-rgb: 44,26,26;
        --outline-color-rgb: 219,136,136;
        --dark-color-rgb: 72,46,46;
        --light-color-rgb: 245,201,201;
    }
}

@media (prefers-color-scheme: light) and (prefers-contrast: more) {
    :root {
        --bg-color: rgba(255,255,255, 1);
        --text-color: rgba(57,21,21, 1);
        --text-soft-color: rgba(47,27,27, 1);
        --text-strong-color: rgba(74,74,74, 1);
        --subtle-color: rgba(254,248,248, 1);
        --border-color: rgba(214,171,171, 1);
        --shadow-color: rgba(192,144,144, 1);
        --input-color: rgba(255,255,255, 1);
        --outline-color: rgba(238,144,144, 1);
        --mark-color: rgba(119,77,78, 0.16);
        --special-color: rgba(119,77,78, 1);
        --special-bg-color: rgba(124,80,81, 1);
        --special-text-color: rgba(255,255,255, 1);
        --special-shadow-color: rgba(30,16,16, 1);
        --special-mark-color: rgba(255,255,255, 0.16);
        --light-color: rgba(254,240,240, 1);
        --dark-color: rgba(96,62,62, 1);
        --text-color-rgb: 57,21,21;
        --bg-color-rgb: 255,255,255;
        --subtle-color-rgb: 254,248,248;
        --special-color-rgb: 119,77,78;
        --special-text-color-rgb: 255,255,255;
        --special-bg-color-rgb: 124,80,81;
        --shadow-color-rgb: 192,144,144;
        --special-shadow-color-rgb: 30,16,16;
        --outline-color-rgb: 238,144,144;
        --dark-color-rgb: 96,62,62;
        --light-color-rgb: 254,240,240;
    }
}

@media (prefers-color-scheme: dark) and (prefers-contrast: more) {
    :root {
        --bg-color: rgba(32,32,32, 1);
        --text-color: rgba(242,238,238, 1);
        --text-soft-color: rgba(241,239,239, 1);
        --text-strong-color: rgba(187,187,187, 1);
        --subtle-color: rgba(43,34,34, 1);
        --border-color: rgba(94,77,77, 1);
        --shadow-color: rgba(0,0,0, 1);
        --input-color: rgba(28,28,28, 1);
        --outline-color: rgba(219,131,131, 1);
        --mark-color: rgba(222,158,159, 0.16);
        --special-color: rgba(222,158,159, 1);
        --special-bg-color: rgba(103,71,72, 1);
        --special-text-color: rgba(242,238,238, 1);
        --special-shadow-color: rgba(0,0,0, 1);
        --special-mark-color: rgba(242,238,238, 0.16);
        --light-color: rgba(249,222,222, 1);
        --dark-color: rgba(72,46,46, 1);
        --text-color-rgb: 242,238,238;
        --bg-color-rgb: 32,32,32;
        --subtle-color-rgb: 43,34,34;
        --special-color-rgb: 222,158,159;
        --special-text-color-rgb: 242,238,238;
        --special-bg-color-rgb: 103,71,72;
        --shadow-color-rgb: 0,0,0;
        --special-shadow-color-rgb: 0,0,0;
        --outline-color-rgb: 219,131,131;
        --dark-color-rgb: 72,46,46;
        --light-color-rgb: 249,222,222;
    }
}