@import "color.css";

* {
    font-family: sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
    padding: 5px;
    margin: 5px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

body {
    color: var(--text-color);

    width: 960px;
    max-width: 100%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    justify-content: start;
    align-items: center;
    margin: auto;

    background-color: var(--subtle-color);
}

.hidden {
    visibility: collapse;
}

input, .button {
    text-align: center;
}

input, .box, .button {
    color: var(--text-color);
    background-color: var(--bg-color);
    border-color: var(--border-color);
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    --shadow-placement: 5px 5px 0 0;
    box-shadow: var(--shadow-placement) rgba(var(--shadow-color-rgb), 0.5);
}

input.special, .box.special, .button.special {
    font-family: "Print Dashed", sans-serif;
    color: var(--special-text-color);
    border-color: var(--special-bg-color);
    background-color: var(--special-bg-color);
}

.box {
    padding: 7px;
    margin: 10px;
}

input, .button {
    transition: linear 250ms;
    --shadow-placement: 2px 2px 0 0;
    padding: 5px;
    margin: 5px;
    outline: 0;
}

input:focus, input:hover, .button:focus, .button:hover {
    --bg-color: var(--mark-color);
    border: 1px solid var(--outline-color);
}

.col, .row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.row {
    justify-content: center;
    align-items: start;
    flex-direction: row;
}

.text-center {
    text-align: center;
}