<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title}">Page title</title>
    <link href="/css/style.css" rel="stylesheet"/>
</head>
<body>
<div class="container-col">
    <form class="container-col border" method="post" th:action="${@com.rampeo.tiw.progetto2022.Constants.URLs@LOGIN}">
        <div class="container-row">
            <label class="container-child split-half" for="login-email" th:text="#{login.email.label}">e-mail</label>
            <input class="container-child split-half" id="login-email" name="email" placeholder="mail@example.com"
                   required
                   th:placeholder="#{login.email.placeholder}"
                   type="email"
            >
        </div>
        <div class="container-row">
            <label class="container-child split-half" for="login-pass" th:text="#{login.pass.label}">password</label>
            <input class="container-child split-half" id="login-pass" name="pass" placeholder="password" required
                   th:placeholder="#{login.pass.placeholder}"
                   type="password"
            >
        </div>
        <div class="container-row">
            <input class="container-child button" th:value="#{login.button}" type="submit" value="login">
        </div>
    </form>
    <form class="container-col border" method="post" th:action="${@com.rampeo.tiw.progetto2022.Constants.URLs@SIGNUP}">
        <div class="container-row">
            <label class="container-child split-half" for="register-email"
                   th:text="#{signup.email.label}">e-mail</label>
            <input class="container-child split-half" id="register-email" name="email" placeholder="ex@mple.com"
                   required
                   th:placeholder="#{signup.email.placeholder}"
                   type="email">
        </div>
        <div class="container-row">
            <label class="container-child split-half" for="register-pass1"
                   th:text="#{signup.pass1.label}">password</label>
            <input class="container-child split-half" id="register-pass1" name="pass1" placeholder="password" required
                   th:placeholder="#{signup.pass1.placeholder}"
                   type="password"
            >
        </div>
        <div class="container-row">
            <label class="container-child split-half" for="register-pass2" th:text="#{signup.pass2.label}">repeat
                password</label>
            <input class="container-child split-half" id="register-pass2" name="pass2" placeholder="repeat password"
                   required
                   th:placeholder="#{signup.pass2.placeholder}"
                   type="password">
        </div>
        <div class="container-row">
            <input class="container-child button" th:value="#{signup.button}" type="submit" value="sign up">
        </div>
    </form>
    <div class="container-col border" th:replace="~{errors :: error-handler}"></div>
</div>
</body>
</html>